# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\DataValuation_RL_SV\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
